<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/csshake.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="todo">
      <div class="task-board">
        <h1>Todo</h1>
        <task v-for="task in _tasks" :task.sync="task" :index=$index></task>
      </div>
      <div class="new-task v-cloak--hidden" v-cloak>
        <div v-show="onEdit" @click="cancelEdit" class="helper-button btn-esc">Esc</div>
        <div class="input">
          <input type="text" name="newTask" placeholder="What nedds to be done?" v-model="newTask" @keyup.enter="addTask" v-show="!onEdit" autofocus>
          <input type="text" name="editTask" v-model="editTask" @keyup.enter="doneEdit" @keyup.esc="cancelEdit" v-show="onEdit">
        </div>

        <div class="filter" v-show="!onEdit">
          <div class="helper-button" :class="{active: stage == 'all'}" @click="changeStage('all')">All</div>
          <div class="helper-button" :class="{active: stage == 'active'}" @click="changeStage('active')">Active</div>
          <div class="helper-button" :class="{active: stage == 'complete'}" @click="changeStage('complete')">Complete</div>
          <div class="helper-button" @click="toggleDeletePopup"><span class="fa fa-trash-o"></span></div>
        </div>
        <div class="delete-popup" v-show="onDelete && !onEdit">
          <div class="helper-button btn-delete" @click="deleteTasks('all')">All</div>
          <div class="helper-button btn-delete" @click="deleteTasks('active')">Active</div>
          <div class="helper-button btn-delete" @click="deleteTasks('complete')">Complete</div>
        </div>
      </div>
    </div>

    <template id="v-template_task">
      <div class="task" :class="{complete: task.complete}" @dblclick.self="editTask">
        <div class="header" @dblclick.self="editTask">
          <input type="checkbox" @change="toggleComplete" @click.stop v-model="task.complete">
          <i class="delete fa fa-times fa-lg" @click.stop="deleteTask"></i>
        </div>
        <p class="task-text" @dblclick.self="editTask">{{task.text}}</p>
      </div>
    </template>

    <script src="js/vue.js"></script>
    <script src="js/jquery-3.1.0.js"></script>
    <script src="js/jquery-ui-1.12.0.js"></script>
    <script src="js/jquery.ui.touch-punch.js"></script>
    <script src="js/store.js"></script>
    <script src="js/task.vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
